@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --bg-color: #f0f2f5;
  --panel-bg: #ffffff;
  --text-color: #333;
  --primary-color: #007bff;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --border-color: #dee2e6;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.judul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header {
  background-color: var(--panel-bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 1.8em;
  color: var(--primary-color);
}

.status-indicator {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.dot.connected {
  background-color: var(--success-color);
}
.dot.disconnected {
  background-color: var(--danger-color);
}

main {
  display: grid;
  grid-template-columns: 0.8fr 2fr;
  gap: 20px;
}

.control-panel,
.monitoring-panel,
footer {
  background-color: var(--panel-bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

h2 {
  margin-top: 0;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin: 5px;
  font-weight: 500;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group-2 {
  margin-bottom: 5px;
  display: flex;
  gap: 5px;
}

.form-group-2 label {
  display: block;
  margin: 5px;
  font-weight: 500;
}

.input-wrapper {
  flex: 1; /* Membuat setiap grup mengambil ruang yang sama (setengah-setengah) */
  display: flex;
  flex-direction: column; /* Mengatur agar label dan input di dalamnya tersusun vertikal */
}

.form-group-2 input,
.form-group-2 select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group-3 {
  margin-bottom: 15px;
}

.form-group-3 label {
  display: block;
  margin: 5px;
  font-weight: 500;
}

.form-group-3 input,
.form-group-3 select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
}

.parameterpso{
  display: block;
}
.button-group {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.btn {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-start {
  background-color: var(--success-color);
  font-weight: bold;
}
.btn-start:hover:not(:disabled) {
  background-color: #25e64f;
}
.btn-stop {
  background-color: var(--danger-color);
  font-weight: bold;
}
.btn-stop:hover:not(:disabled) {
  background-color: #c82333;
}
.btn-update {
  background-color: var(--warning-color);
  color: #ffffff;
  font-weight: bold;
}
.btn-update:hover:not(:disabled) {
  background-color: #e0a800;
}

.btn-csv {
  background-color: var(--success-color);
  color: #ffffff;
  font-weight: bold;
}
.btn-csv:hover {
  background-color: #25e64f;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-bottom: 20px;
}

.card {
  background-color: var(--bg-color);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  border-left: 5px solid var(--primary-color);
}

.card h3 {
  margin: 0 0 10px 0;
  font-size: 1em;
}

.card p {
  margin: 0;
  font-size: 1.8em;
  font-weight: 700;
}

.chart-container {
  position: relative;
  height: 300px;
}

footer {
  padding: 20px;
}

.log-container {
  display: flex;
  gap: 30px;
  font-size: 1.1em;
}
